body {
  background: linear-gradient(
    70deg,
    rgba(192, 54, 58, 0.9),
    rgba(255, 199, 88, 0.9)
  );
}

#username-title {
  display: none;
}

#image-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.winnie-honey-wood {
  width: 311px;
}

.winnie-honey {
  width: 285px;
}

.div-form-container-one {
  display: flex;
  width: 99%;
  justify-content: center;
  position: absolute;
  top: 28%;
}

#div-form-container {
  background: rgba(143, 83, 50, 0.9);
  color: white;
  border: 3px solid rgba(143, 83, 50, 0.9);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 50px 9px;
  border-radius: 15px;
}

.form-container {
  display: inline-flex;
  flex-direction: column;
  width: 270px;
}

.head-container {
  display: inline-block;
}

#add-task {
  width: 49%;
  height: 35px;
  font-size: 20px;
  background: rgba(41, 136, 22, 1);
  color: white;
  border-radius: 20px;
}

#list-task {
  width: 49%;
  height: 35px;
  font-size: 20px;
  background: rgba(41, 136, 22, 1);
  color: white;
  border-radius: 20px;
}

#add-task-container {
  display: none;
  font-size: 20px;
}
#add-task-container label {
  display: block;
  padding-top: 10px;
}

#add-texte-tasks {
  color: white;
  background: rgba(41, 136, 22, 1);
  width: 60px;
  height: 30px;
}

#add-task-text {
  height: 25px;
  width: 70%;
}

#list-container {
  display: none;
  padding-top: 10px;
  font-size: 20px;
}
.done-part {
  display: block;
  padding-top: 10px;
}

.undone-part {
  display: block;
  padding-top: 7px;
}

.remove-part {
  display: block;
  padding-top: 10px;
}

#task-remove {
  background-color: rgba(192, 54, 58, 1);
  color: white;
  width: auto;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px 1px;
  border-radius: 8px;
  font-size: 15px;
}

.edit-part {
  display: block;
  padding-top: 10px;
}

.edit-input-part {
  display: flex;
  padding-top: 2px;
}

.save-part {
  display: block;
  padding-top: 10px;
}

#save-btn {
  color: white;
  background: rgba(41, 136, 22, 1);
  width: 70px;
  height: 25px;
  border-radius: 8px;
}

#task-edit {
  margin-right: 10px;
  background: rgba(41, 136, 22, 1);
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 7px;
  font-size: 15px;
}

@media (min-width: 850px) {
  #username-title {
    padding-top: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 50px;
    color: rgb(85, 46, 24);
  }

  #image-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .image-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .first-image-div {
    width: 35%;
    display: flex;
    justify-content: center;
  }

  .winnie-honey-wood {
    width: 100%;
  }

  .second-image-div {
    width: 35%;
    display: flex;
    justify-content: center;
  }

  .winnie-honey {
    width: 100%;
  }
}

@media (max-width: 849px) {
  .first-image-div {
    height: 35%;
  }

  .winnie-honey {
    position: absolute;
    bottom: 0%;
  }
}
